    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --cor-navegation: #667085;
    }
    
    body {
        font-family: 'Inter';
    }
    
    .navBar {
        height: 100vh;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1em
    }
    
    .navegation ul {
        display: flex;
        list-style-type: none;
    }
    
    .navegation li {
        font-size: 16px;
        padding: 1em;
    }
    
    .navegation a {
        text-decoration: none;
        color: #667085;
    }
    
    .navegation_busca {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 12px;
    }
    
    .button_entrar {
        color: #667085;
        width: 83px;
        height: 44px;
        border-radius: 8px;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
    }
    
    .button_cadastrar {
        width: 83px;
        height: 44px;
        border: 1px solid #8E2424;
        background-color: #8E2424;
        border-radius: 8px;
        color: #FFFFFF;
        cursor: pointer;
    }